@model List<ProjetoFinalWeb.Models.Artist>

@{
    ViewData["Title"] = "K-Pop Artists";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">K-Pop Artists</h1>
    
    <div class="row">
        @foreach (var artist in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@artist.ImageUrl" class="card-img-top" alt="@artist.Name">
                    <div class="card-body">
                        <h5 class="card-title">@artist.Name</h5>
                        <p class="card-text">@artist.Description</p>
                        <a asp-action="ArtistDetails" asp-route-id="@artist.Id" class="btn btn-primary">
                            See Mmebers
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>